name: "Build, Check and Publish Docs"

on:
  workflow_call:

jobs:
  build-and-check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Build Typedoc Documentation
        uses: algorandfoundation/algokit-shared-config/.github/actions/generate-typescript-docs@pr/release-workflow

      - name: Check docs are up to date
        shell: bash
        run: |
          # Add untracked files as empty so they come up in diff
          git add -N .
          # Print changed files and error out if there are changes after generating docs
          git diff --exit-code --name-only

      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages-docs
          path: docs/_html
          retention-days: 1

  publish-docs:
    needs: build-and-check-docs
    runs-on: ubuntu-latest
    steps:
      - name: Download Documentation Artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages-docs
          path: docs/downloaded

      - name: Deploy Documentation
        uses: algorandfoundation/algokit-shared-config/.github/actions/publish-docs@pr/release-workflow
        with:
          artifact_path: docs/downloaded
